{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <title>Fuel Price Prediction</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="https://npmcdn.com/flatpickr/dist/themes/dark.css">

</head>

<body>
  
  <!-- Header -->
  <section id="header">
    <header class="header-area">
        <div class="header-container">
            <div class="site-logo">
                <a href="/">PF<span>P</span></a>
            </div>
            <div class="mobile-nav">
                <i class="fas fa-bars"></i>
            </div>
            <div class="site-nav-menu">
                <ul class="primary-menu">
                  <li><a href="/" data-after="Home">Home</a></li>
                  <li><a href="{% url 'core:dashboard' %}" data-after="Home">Dashboard</a></li>
                  <li><a href="#about" data-after="About">About Us</a></li>
                  <li><a href="#contact" data-after="Contact">Contact</a></li>
                </ul>
            </div>
        </div>
    </header>
  </section>
  <!-- End Header -->
  <section id = "upload" >
    <div class="predict" style="margin-top: 40px;">
      <h2 class="head">Prediction of Fuel(petrol, diesel) Price</h2>

      <br><br>

      {% comment %} <div style="text-align: center; " >
      <h3>Gyelpozhing (Approved Date: 2022-04-01 )</h3>

      <p style="text-align: center; "><strong>Petrol:</strong> Nu.94.62</p>
      <p style="text-align: center;"><strong>Diesel:</strong> Nu.101.69</p>
      <br> {% endcomment %}
      {% comment %} <h3>Mongar (Approved Date: 2022-04-01 )</h3>
      <p style="text-align: center; color: white;"><strong>Petrol:</strong> Nu.96.10</p>
      <p style="text-align: center; color: white;"><strong>Diesel:</strong> Nu.101.82</p></div> {% endcomment %}

            {% block content %}
            {% endblock %}
            
          </div>
  </section>
  <section id="about" class="about">
     <div class="container1">
         <div class="row1">
             <div class="section-title">
                 <h1>About<span>Us</span></h1>
                 <small><p>A project that was aimed to predict the fuel prices of Bhutan using machine learning.</p></small>
                 <p><strong>Meet the project team</strong></p>
             </div>
         </div>
         <div class="row1">
             <div class="team-items">
                  <div class="item1">
                      <img src="{% static 'img/01.jpg' %}" alt="team" style="border-radius: 50%; width: 300px; height: 300px;" />
                      <div class="inner">
                          <div class="info">
                               <h5>Ugyen Wangdi</h5>
                               <p>Team Leader</p>
                               <div class="social-links">
                                   <a href="https://www.facebook.com/ughen.wangdi.54379/ " target='_blank'><span class="fa fa-facebook"></span></a>
                                   <a href="https://www.instagram.com" target='_blank'><i class="fab fa-instagram"></i></a>
                                   <a href="https://twitter.com/" target='_blank'><span class="fa fa-twitter"></span></a>
                                   <a href="https://www.youtube.com/" target='_blank'><span class="fa fa-youtube"></span></a>
                               </div>
                          </div>
                      </div>
                  </div>
                  <div class="item1">
                      <img src="{% static 'img/02.JPG' %}" alt="team" style="border-radius: 50%; width: 300px; height: 300px; "/>
                      <div class="inner">
                          <div class="info">
                               <h5>Gyeltshen Wangdi</h5>
                               <p>Backend Developer</p>
                               <div class="social-links">
                                   <a href="https://www.facebook.com/gyltshen.wangdi" target='_blank'><span class="fa fa-facebook"></span></a>
                                   <a href="https://www.instagram.com" target='_blank'><i class="fab fa-instagram"></i></a>
                                   <a href="https://twitter.com/" target='_blank'><span class="fa fa-twitter"></span></a>
                                   <a href="https://www.youtube.com/" target='_blank'><span class="fa fa-youtube"></span></a>
                               </div>
                          </div>
                      </div>
                  </div>
                  <div class="item1">
                      <img src="{% static 'img/03.jpg' %}" alt="team" style="border-radius: 50%; width: 300px; height: 300px;"/>
                      <div class="inner">
                          <div class="info">
                               <h5>Galey Wangmo</h5>
                               <p>UI Designer</p>
                               <div class="social-links">
                                   <a href="https://www.facebook.com/profile.php?id=100004111544909" target='_blank'><span class="fa fa-facebook"></span></a>
                                   <a href="https://www.instagram.com" target='_blank'><i class="fab fa-instagram"></i></a>
                                   <a href="https://twitter.com/" target='_blank'><span class="fa fa-twitter"></span></a>
                                   <a href="https://www.youtube.com/" target='_blank'><span class="fa fa-youtube"></span></a>
                               </div>
                          </div>
                      </div>
                  </div>
                  <div class="item1">
                      <img src="{% static 'img/04.jpg' %}" alt="team" style="border-radius: 50%; width: 300px; height: 300px;"/>
                      <div class="inner">
                          <div class="info">
                               <h5>Tshering Dorji</h5>
                               <p>Web Developer</p>
                               <div class="social-links">
                                   <a href="https://www.facebook.com/tshe.dorjee" target='_blank'><span class="fa fa-facebook"></span></a>
                                   <a href="https://www.instagram.com" target='_blank'><i class="fab fa-instagram"></i></a>
                                   <a href="https://twitter.com/" target='_blank'><span class="fa fa-twitter"></span></a>
                                   <a href="https://www.youtube.com/" target='_blank'><span class="fa fa-youtube"></span></a>
                               </div>
                          </div>
                      </div>
                  </div>
             </div>
         </div>
     </div>
  </section>
  <!-- End About Section -->

  <!-- Contact Section -->
  <section id="contact">
    <div class="contact container">
      <div>
        <h1 class="section-title">Contact <span>info</span></h1>
      </div>
      <div class="contact-items">
        <div class="contact-item">
          <div class="icon"><img src="https://img.icons8.com/bubbles/100/000000/phone.png" /></div>
          <div class="contact-info">
            <h1>Phone</h1>
            <h2>+975 17743174</h2>
            <h2>+975 12345678</h2>
          </div>
        </div>
        <div class="contact-item">
          <div class="icon"><img src="https://img.icons8.com/bubbles/100/000000/new-post.png" /></div>
          <div class="contact-info">
            <h1>Email</h1>
            <h2>12190051.gcit@rub.edu.bt</h2>
            <h2>12190053.gcit@rub.edu.bt</h2>
            <h2>12190093.gcit@rub.edu.bt</h2>
            <h2>12190105.gcit@rub.edu.bt</h2>
          </div>
        </div>
        <div class="contact-item">
          <div class="icon"><img src="https://img.icons8.com/bubbles/100/000000/map-marker.png" /></div>
          <div class="contact-info">
            <h1>Address</h1>
            <h2>Mongar, Gyalpozhing, Bhutan</h2>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Contact Section -->

  <!-- Footer -->
  <section id="footer">
    <div class="footer container">
      <div class="brand">
        <h1><span>Prediction of </span>Fuel(petrol, diesel) Price</h1>
      </div>
      <h2>Know the Fuel Prices of Bhutan</h2>
      <div class="social-icon">
        <div class="social-item">
          <a href="https://www.facebook.com/" target='_blank'><img src="https://img.icons8.com/bubbles/100/000000/facebook-new.png" /></a>
        </div>
        <div class="social-item">
          <a href="https://www.instagram.com" target='_blank'><img src="https://img.icons8.com/bubbles/100/000000/instagram-new.png" /></a>
        </div>
        <div class="social-item">
          <a href="https://gitlab.com/p7521/fuelpriceprediction-bhutan" target='_blank'><img src="https://img.icons8.com/color/48/undefined/gitlab.png"/></a>
        </div>
      </div>
      <p>© 2022 Group 12. All rights reserved</p>
    </div>
  </section>
  <!-- End Footer -->
  <script src="{% static 'js/app.js' %}"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

  <script>

        config = {
            dateFormat: "Y-m-d",
            minDate: "2020-01-15",
            maxDate: "2022-04-01"
            
        }  
        flatpickr("input[type=datetime-local]", config); 

        $(document).ready(function(){
            $(".mobile-nav i").click(function(){
                $(".site-nav-menu").toggleClass("mobile-menu");
            });
        });
  </script>
</body>

</html>




{% comment %} 
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous"> {% endcomment %}
{% comment %} Data picker  {% endcomment %}
{% comment %} https://flatpickr.js.org/getting-started/ {% endcomment %}
    {% comment %} <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css"> {% endcomment %}
    {% comment %} <link rel="stylesheet" type="text/css" href="https://npmcdn.com/flatpickr/dist/themes/dark.css">
</head>

<body>
    <div class="card text-center" style="padding: 2rem; width: 60%; margin: 20%;background-color: #D9AFD9;
    background-image: linear-gradient(0deg, #D9AFD9 0%, #97D9E1 100%);
    ">

        <h2 style="font-weight: 700;">Bhutan's Fuel Price Prediction</h2>

        <div class="card-body">
            {% if error %}
            <p>{{ error }}</p>
            {% endif %}
            <form action="{% url 'core:predict' %}" method="POST">
                {% csrf_token %} {% endcomment %}
                {% comment %} <label for="rminput">Number of Rooms: </label>
                <input type="text" id="rminput" name="rminput"> <br><br> {% endcomment %}
                {% comment %} <input type="datetime-local" placeholder="Select Date" name="dateinput"> {% endcomment %}

               
                {% comment %} <label for="region" class="form-label">Region: </label>
                <select name="region" id="region">
                    <option value="Western Region">Western Region</option>
                    <option value="Central Region">Central Region</option>
                    <option value="Eastern Region">Eastern Region</option>
                </select>

                <label for="product">Product:</label>
                <select name="product" id="product">
                    <option value="Diesel">Diesel</option>
                    <option value="Petrol">Petrol</option>
                </select>

                <label for="company">Company:</label>
                <select name="company" id="company">
                    <option value="Indian Oil Corporation Limited">Indian Oil Corporation Limited</option>
                    <option value="Bharat Petroleum Corporation Limited">Bharat Petroleum Corporation Limited</option>
                    <option value="Hindustan Petroleum Corporation Limited">Hindustan Petroleum Corporation Limited</option>
                </select>

                <label for="date">Approved_Date:</label>
                <input type="datetime-local" placeholder="Select Date" id="dtate" name="dateinput">


                <label for="station">Station:</label>
                <select name="station" id="station">
                    <option value="Phuentsholing">Phuentsholing</option>
                    <option value="Rinchending">Rinchending</option>
                    <option value="Pasakha">Pasakha</option>
                    <option value="SamtseTown">Samtse Town</option>
                    <option value="Sipsoo">Sipsoo</option>
                    <option value="Gomtu">Gomtu</option>
                    <option value="Gedu">Gedu</option>
                    <option value="Phuentsholing Main gate">Phuentsholing Main gate</option>
                    <option value="Gelephu Forest Checkpost">Gelephu Forest Checkpost</option>
                    <option value="Sarpang">Sarpang</option>
                    <option value="Gelephu Gate">Gelephu Gate</option>
                    <option value="GelephuTown">Gelephu Town</option>

                    <option value="Dagapela">Dagapela</option>
                    <option value="Tsirang">Tsirang</option>
                    <option value="Zhemgang">Zhemgang</option>
                    <option value="Trongsa">Trongsa</option>
                    <option value="Bumthang">Bumthang</option>
                    <option value="Dagana">Dagana</option>
                    <option value="Lhamoizingkha">Lhamoizingkha</option>
                    <option value="Dangdung">Dangdung</option>
                    <option value="Panbang">Panbang</option>
                    <option value="Tingtibi">Tingtibi</option>
                    <option value="SamdrupJongkhar">Samdrup Jongkhar</option>
                    <option value="Wamrong">Wamrong</option>


                    <option value="Trashigang">Trashigang</option>
                    <option value="Trashiyangtse">Trashiyangtse</option>
                    <option value="Mongar">Mongar</option>
                    <option value="Gyelposing">Gyelposing</option>
                    <option value="Kanglung">Kanglung</option>
                    <option value="Pemagatshel">Pemagatshel</option>
                    <option value="Jomotsangkha">Jomotsangkha</option>
                    <option value="Lhuntse">Lhuntse</option>
                    <option value="Autsho">Autsho</option>
                    <option value="Doksum">Doksum</option>
                    <option value="Bhangtar">Bhangtar</option>
                    <option value="Rangjung">Rangjung</option>

                    
                    <option value="Nganglam">Nganglam</option>
                    <option value="Samdrup Jongkhar Gate">Samdrup Jongkhar Gate</option>
                    <option value="Nganglam Potonala">Nganglam Potonala</option>
                    <option value="Samdrup Jongkhar Upper Town">Samdrup Jongkhar Upper Town</option>
                    <option value="Chimakothi">Chimakothi</option>
                    <option value="Lungtenzampa">Lungtenzampa</option>
                    <option value="Paro Town">Paro Town</option>
                    <option value="Haa">Haa</option>
                    <option value="BajoTown">Bajo Town</option>
                    <option value="Beychu">Beychu</option>
                    <option value="Khuruthang">Khuruthang</option>
                    <option value="Gasa">Gasa</option>

                    <option value="Motithang">Motithang</option>
                    <option value="Olakha">Olakha</option>
                    <option value="Paro NIE Bridge">Paro NIE Bridge</option>
                    <option value="Langlitsawa">Langlitsawa</option>
                    <option value="Wangdue Zero Point">Wangdue Zero Point</option>
                    <option value="Lobesa">Lobesa</option>
                    <option value="Chubachu">Chubachu</option>
                    <option value="Paro Shaba">Paro Shaba</option>
                    <option value="Samtse Checkpost">Samtse Checkpost</option>
                    <option value="Pagli">Pagli</option>
                    <option value="Mitsina">Mitsina</option>
                    <option value="Dorokha">Dorokha</option>

                    <option value="Langdru">Langdru (Khasadrapchu)</option>
                    <option value="Chanzamtok">Chanzamtok</option>
                    <option value="Gomtu Phuentshopelri">Gomtu Phuentshopelri</option>
                    <option value="Phuentsholing Truck Parking">Phuentsholing Truck Parking</option>
                    <option value="Phuentsholing Dungkhag Office">Phuentsholing Dungkhag Office</option>
                    <option value="Phuentsholing Near MDP">Phuentsholing Near MDP</option>
                    <option value="Ramtokto">Ramtokto</option>
                    <option value="Chamkuna LAP,Phuntsholing">Chamkuna LAP,Phuntsholing</option>
                    
                </select>


                <input type="submit" class="btn btn-primary" value="Predict">
            </form>

        </div>


    </div>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

    <script> {% endcomment %}
        
        {% comment %} flatpickr("input[type=datetime-local]", {}); {% endcomment %}

        {% comment %} config = {
            dateFormat: "Y-m-d",
            minDate: "2020-01-15",
            maxDate: "2022-04-01"
            
        }  
        flatpickr("input[type=datetime-local]", config);  {% endcomment %}
        {% comment %}  To pick time  {% endcomment %}
        {% comment %} config = {
            enableTime: true,
            dateFormat: "Y-m-d H:i",
            altInput: true,
            altFormat: "F j, Y (h: S K)"
        }  
        flatpickr("input[type=datetime-local]", config); {% endcomment %}


    {% comment %} </script> {% endcomment %}
{% comment %} 

</body>

</html> {% endcomment %}